.preLoader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    height: 100rm;
    background-color: #0a0a0a;
  }
  
  .flashingLogo {
    animation: spin 30s linear infinte;
  }
  
  @keyframes flash {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  