/* styles/sign-up.module.css */

.signUpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #0a0a0a;
  color: white;
  text-align: center;
  padding: 20px;
  margin-left: 200px; /* Adjusting to ensure it doesn't overlap with the sidebar */
}
.jIcon {
  height: 17px;
  width: 12px;
  margin-left: 5px;
}
.logoContainer {
  margin-bottom: 20px;
}

.logo {
  width: 150px;
  height: auto;
}

.formContainer {
  background-color: #1a1a1a;
  padding: 40px;
  border-radius: 10px;
  border: 3px solid #38979e;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

.formContainer h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #38979e;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.inputGroup {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.inputContainer {
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
}

.inputContainer label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

.inputContainer input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
}

.oauthButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  color: white;
  background-color: black;
}

.button {
  background-color: black;
  color: #38979e;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button:hover {
  background-color: #00cc00;
}

.button img {
  width: 20px;
  height: 20px;
}

.separator {
  margin: 20px 0;
  color: white;
}

.formTitleContainer {
  margin-bottom: 20px;
  background-color: #0a0a0a;
  color: #38979e;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.authButton {
  background-color: black;
  color: #38979e;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.authButton:hover {
  background-color: #00cc00;
}

.captcha {
  margin-top: 20px;
  margin-bottom: 20px;
}
