.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  position: fixed;
  width: 18%;
  max-width: 20%;
  background-color: #1a1a1a;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  transition: width 0.75s ease;
  overflow-x: hidden;
  box-sizing: border-box;
  padding-top: 20px;
}

.sidebarLogo {
  margin: 20px 0;
}

.sidebar a {
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

.sidebar a.active {
  background-color: #00ff00;
  color: black;
}

.sidebar a span {
  display: none;
}

.sidebar:hover {
  width: 20%;
}

.sidebar:hover a span {
  display: inline;
  color: white;
}

.sidebar:hover a.active {
  background-color: #202422;
  font-weight: bold;
}

.sidebar a.active {
  background-color: #202422;
  font-weight: bold;
  margin: 0;
  padding: 10px;
  width: calc(100% - 6px);
  box-sizing: border-box;
}

.sidebar img,
.sidebar .fa {
  display: block;
  margin: 0 auto;
}

.sidebar-logo a {
  height: 85%;
  width: 45%;
  display: block;
  align-items: center;
  justify-self: center;
}

.sidebar-logo img {
  height: 100%;
  width: 100%;
  display: block;
}
