body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #121212;
  }

   
.sidebar {
    background-color: hsl(0, 0%, 4%);
    font-family: "Jaro", sans-serif;
    font-size: larger;
    font-weight: bold;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #38979e;
    text-align: center;
    left: 0;
    top: 0;
    bottom: auto;
    height: 90%;
    width: 50px; 
    padding-top: 80px; 
    transition: width 0.75s ease;
    overflow: hidden;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: auto;
}



.sidebar:hover {
    width: 25%; 
    color: white;
}

.sidebar:hover chat-area{
    width: 60%;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    transition: width 0.5s ease;
    text-decoration: black;
    transition: background-color 0.3s;
}

.sidebar a span{
    color: transparent;
    padding: 10px;
    text-decoration: black;
    display: block;
    transition: background-color 0.3s;
}


.sidebar:hover, .sidebar:hover a span {
    color: white;
}

.sidebar a:hover {
    background-color: #333333;
    color: white;   

}

.sidebar:hover a.active {
    background-color: #202422;
    font-weight: bold;
}

.sidebar a.active {
    background-color: #202422;
    font-weight: bold;
    border: none; 
    margin: 0; 
    padding: 10px; 
    width: calc(100% - 6px); 
    box-sizing: border-box; 
}

.sidebar img, .sidebar .fa {
    display: block;
    margin: 0 auto;
}

.sidebar-logo a {
    top: 10px;
    height: 85%;
    width: 15px;
    transform: translateX(-25%);
    z-index: 10;
    display: block;
    align-items: center;
    justify-self: center;
}

.sidebar-logo img {
    height: 85%;
    width: 45%;
    justify-self: center;
    display: block;
}

.sidebar-logo a:hover {
    background-color: black;
    font-weight: bold;
    border: solid 1px black; 
    margin: 0; 
    padding: 5px; 
    width: calc(100% - 3px); 
    box-sizing: border-box; 
}


.sidebar-logo.hover {
    background-color: black;
    font-weight: bold;
    border: none; 
    margin: 0; 
    padding: 10px; 
    width: calc(100% - 6px); 
    box-sizing: border-box; 
}

.chat-area {
    display: flex;
    flex-direction: column;
    width: 45vh;
    height: 85vh;
    background-color: #171717;
    border: 2px solid #121212;
    left: 50px;
    position: relative;
    overflow-y: auto;
    overflow-x: auto;
    padding-bottom: 50px; /* Space for BottomBar */
    align-items: center; /* Centers ChatWindow horizontally */
  }


#chat-container {
    align-self: center;
    position: relative;
    flex-grow: 1; /* Takes up all available space */
    width: 100%; /* Ensures it fills the chat-area */
    background-color: #2a2a2a; /* Dark theme for chat area */
    overflow-y: auto;
    border: none; /* Removes any border within the chat-area */
    max-width: calc(100% - 10px);
  }

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 100%;
    max-height: 60px;
    display: block;
    margin: 0 auto 10px;
}

.message.user {
    background-color: #333333;
    color: #ffffff;
    text-align: right;
    font-family: "Jaro", sans-serif;
    max-width: 85%;
    margin-left: auto;
}

.message.user {
    background-color: #333333;
    color: #ffffff;
    text-align: right;
    font-family: "Jaro", sans-serif;
    max-width: 85%;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 18px;
    border-bottom-right-radius: 0;
    position: relative;
    padding: 10px;
}

.message.user::after {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-color: #333333;
    border-left: 0;
    border-right: 0;
    margin-top: 5px;
    margin-right: -10px;
}




.j-icon {
    height: 17px;

    width: 12px;

    margin-left: 5px;
}

.message.j {
    background-color: #121212;
    color: #38979e;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    position: relative;
    border: 1px solid #161515;
    border-style: groove;
    box-shadow: 1 2px 4px #333333;
    text-align: left;
    max-width: 100%;
    margin-right: auto;
    border-radius: 18px;
    border-bottom-left-radius: 0;
    padding: 10px;


}

.message.j::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-color: #121212;
    border-left: 0;
    border-right: 0;
    margin-top: 5px;
    margin-left: -20px;
}
  
.lottie {
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    width: '50vw';
    height: '50vh';
}

#input-area {
    display: flex;
    justify-content: space-between;
}

#user-input {
    flex-grow: 1;
    padding: -10px;
    margin-right: 5px;
    background-color: #333333;
    border: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.send-button {
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    align-items: baseline;

    align-items: center;
    justify-content: center;
}


.send-button:hover {
    background-color: #367c39;
}


.bottom-bar {
    display: flex;
    position: relative;
    justify-content: space-around; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    padding-top: 5%;
    width: 45vh;
    height: 50px;
    background-color: #121212;
  }

  #icon {
    padding-right: 10px;
}


.nav-icon {
    background-color: #333;
    border-radius: 10px;
    box-shadow: 3px 3px 6px #000, -3px -3px 6px #38979e;
    color: white;
    padding: 10px 20px;
    text-align: center;
    flex-grow: 1;
    border: none;
    outline: none;
    transition: box-shadow 0.3s ease-in-out;
}

.nav-icon:hover, .nav-icon:focus {
    box-shadow: 0 2px 5px rgba(0,0,0,0.5); 
    background-color: #555;
}

.nav-icon.active {
    background-color: #38979e; /* Highlight active button with different color */
    color: #ffffff;
  }
  
  /* Specific style adjustments if necessary for FontAwesome icons */
.nav-icon .fa-icon {
    font-size: 1.5em; /* Adjust icon size as necessary */
  }

#logo-text {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    font-family: Impact;
    color: #ffffff;
}


.highlighted {
    font-size: 18px;
    color: white;
    font-family: 'Courier New', Courier, monospace;

}

.normal {
    color: #38979e;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}


.icon {
    width: 9px;
    height: 20px;
}

