.signOutButton {
    background-color: #38979e;
    color:white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: inherit;
  }
  
  .signOutButton:hover {
    background-color: #00cc00;
  }
  