.inputArea {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 95%;
  height: 7vh;
  margin: 0 auto;
}

.userInput {
  background-color: #333333;
  border: none;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

