.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: calc(100% - 220px);
  margin-left: 220px;
  background-color: #0a0a0a;
  color: white;
  padding: 40px 20px;
  box-sizing: border-box;
}

.aboutLogo {
  margin-bottom: 40px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.aboutUsTitle {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #00ffcc;
  text-shadow: 0 0 10px #00ffcc;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.tab {
  padding: 15px 30px;
  cursor: pointer;
  background-color: #38979e;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab:hover {
  background-color: #00ffcc;
  transform: translateY(-5px);
}

.tab.active {
  background-color: #38979e;
  color: white;
}

.aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 900px;
  text-align: left;
  padding: 30px;
  border-radius: 15px;
  background-color: #121212;
  margin-bottom: 20px;
}

.aboutSection h2 {
  color: #00ffcc;
  margin-bottom: 20px;
  text-shadow: 0 0 5px #00ffcc;
}

.aboutSection p,
.aboutSection embed {
  color: white;
  line-height: 1.6;
}
