fastapi
uvicorn
httpx
python-dotenv
backoff
transformers
groq
python-multipart
bitsandbytes
langchain-nomic
langchain_community
tiktoken
langchainhub
chromadb
langchain
langgraph
tavily-python
gpt4all
fastembed
langchain-groq
bs4
