/* style.css */
body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    text-align: center;
    /* Center the logo above the chat container */
    margin-bottom: 20px;
    /* Space between the logo and the chat container */
}


#chat-container {
    height: 400px;
    border: 1px solid #333;
    margin: 0 auto;
    align-items: start;
    padding: 10px;
    width: 100%;
    background-color: #1e1e1e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
}

#chat-box {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #2a2a2a;
    padding: 5px;
    margin-bottom: 10px;
}

#icon {
    padding-right: 10px;
}

#input-area {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  #user-input {
    flex-grow: 1;
    margin-right: 10px;
  }

.message.user {
    background-color: #555555;
    color: white;
}

.message.j {
    background-color: #333333;
    color: #4CAF50;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}

#input-area {
    display: flex;
    justify-content: space-between;
}

#user-input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 5px;
    background-color: #333;
    border: none;
    color: white;
}

.send-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .send-button:hover {
    background-color: #367c39;
  }

/* style.css additions */
.logo {
    width: 100%;
    max-height: 60px;
    display: block;
    margin: 0 auto 10px;
}

/* Icon styling if you use any specific icons within messages */
.icon {
    width: 12px;
    height: 17px;
}

.lottie {
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    width: '100vw';
    height: '100vh';
}