.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #38979e;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 20px 0;
    position: relative;
   
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  
  .separator::before,
  .separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
    margin: 0 20px;
  }
  
  .separator::before {
    border-image: linear-gradient(to right, transparent, black) 1;
  }
  
  .separator::after {
    border-image: linear-gradient(to left, transparent, black) 1;
  }
  